/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
}

header {
    background-color: #121953;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px; 
    background-color: #01094d; 
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 100px; 
    margin-right: 15px;
}

.navbar .logo h1 {
    font-size: 28px; 
    margin: 0;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    margin-left: 25px;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px; 
    transition: background-color 0.3s;
}

.navbar nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Hero Section */
.hero {
    position: relative;
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero-content {
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content h1 span {
    color: #00aaff;
}

.hero-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.hero-content .btn {
    background-color: #00aaff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-content .btn:hover {
    background-color: #0077cc;
}


/* Info Section */
.info-section {
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.info-section .container {
    max-width: 800px;
    margin: 0 auto;
}

.info-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.info-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.info-section img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 20px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
    justify-content: center; 
    align-items: center; 
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    max-width: 800px;
    width: 90%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

/* Why Choose Section */
.why-choose-section {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.why-choose-section .container {
    max-width: 1000px;
    margin: 0 auto;
}

.why-choose-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.why-choose-section p.subtitle {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.why-choose-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}


.feature {
    text-align: center;
}

.feature img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    line-height: 1.4;
}

/* Footer */
footer {
    background-color: #121953;
    color: #fff;
    padding: 20px 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-container > div {
    flex: 1;
    margin: 20px;
    min-width: 200px;
}

.footer-about,
.footer-links,
.footer-contact,
.footer-social {
    margin-bottom: 20px;
}

.footer-about h3,
.footer-links h3,
.footer-contact h3,
.footer-social h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-about p {
    font-size: 16px;
    line-height: 1.6;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-contact p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.footer-contact a {
    color: #00aaff;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}

.footer-social a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #121953;
    margin-top: 20px;
 }

.footer-bottom p {
    margin: 0;
    font-size: 16px;
}


/* Contact Section */
.contact-section {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.contact-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.contact-item {
    flex: 1 1 200px;
    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.contact-item i {
    font-size: 24px;
    color: #0077cc;
    margin-bottom: 10px;
}

.contact-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.contact-item p, .contact-item a {
    font-size: 16px;
    color: #555;
}

.contact-item a:hover {
    text-decoration: underline;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    background-color: #0077cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #005faa;
}



 /* Discover Section */
.discover-section {
     padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
 }

.discover-section .container {
    max-width: 1200px;
    margin: 0 auto;
}

.discover-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.discover-section .subtitle {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* About Section */
.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-content img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
}

/* Campus Section */
.campus-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.campus-gallery img {
        width: 100%;
        border-radius: 10px;
}

/* Facilities Section */
.facilities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.facilities-grid .facility {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.facilities-grid .facility img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
 }

.facilities-grid .facility h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.facilities-grid .facility p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

/* Academic Section */
.academic-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.academic-section .container {
    max-width: 1200px;
    margin: 0 auto;
}

.academic-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.academic-section .subtitle {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* Academic Programs Section */
.academic-program-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.academic-program-grid .academic-program {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.academic-program-grid .academic-program img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.academic-program-grid .academic-program h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.academic-program-grid .academic-program p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

/* Academic Calendar Section */
.academic-calendar img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Admission Section */
.admission-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.admission-section .container {
    max-width: 1200px;
    margin: 0 auto;
}

.admission-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.admission-section .subtitle {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* Admission Info Section */
.admission-info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.admission-info-grid .admission-info {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.admission-info-grid .admission-info img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.admission-info-grid .admission-info h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.admission-info-grid .admission-info p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}
